amqp==2.6.0
atomicwrites==1.4.0
attrs==19.3.0
billiard==3.6.3.0
blinker==1.4
celery==4.4.6
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cryptography==3.2
Flask==1.1.2
Flask-Mail==0.9.1
future==0.18.2
idna==2.10
importlib-metadata==1.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
kombu==4.6.11
mailjet-rest==1.3.3
MarkupSafe==1.1.1
marshmallow==3.6.1
mongoengine==0.20.0
more-itertools==8.4.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pycparser==2.20
pymongo==3.10.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pytest==5.4.3
pytz==2020.1
redis==3.5.3
requests==2.24.0
six==1.15.0
urllib3==1.25.9
vine==1.3.0
wcwidth==0.2.5
Werkzeug==1.0.1
zipp==3.1.0
